/*-----------------
       RESET
------------------*/
* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;

}

/*-----------------
       GENERAL
------------------*/

.container {
       max-width: 1000px;
       margin: 0 auto;
}

.img-fluid {
       max-width: 100%;
       height: auto;
}

/*-----------------
     TYPHOGRAPHY
/*-----------------*/
body {
       font-family: Roboto;
}

s {
       font-size: 14px;
}

/*-----------------
       HEADER
------------------*/
header {
       background-color: #FF6900;
       color: #fff;
       text-align: center;
       font-weight: bold;
       padding: 10px 0;
       word-spacing: 5px;
       box-shadow: 0px 0px 5px #A2ACB3;
       position: sticky;
       top: 0;
       z-index: 3;
}

header .container {
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.container .logo {
       max-width: 80%;
}

.container .logo img {
       max-width: 16%;
}

.container nav a {
       text-decoration: none;
       color: inherit;
}

/*-----------------
       MAIN
------------------*/

.container .row {
       display: flex;
       margin: 50px 0;
}

.container .col {
       max-width: calc(100% / 3);
       padding-right: 10px;
       position: relative;
       top: 0;
       right: 0;
}

.tags {
       display: flex;
       gap: 2px;
       position: absolute;
       left: 0;
       top: 410px;
}

.tag {
       color: #fff;
       font-size: 14px;
       font-weight: bold;
       padding: 6px;
}

.tag.tag-red {
       background-color: #FF0000;
}

.tag.tag-green {
       background-color: #008000;
}

.heart {
       position: absolute;
       top: 10px;
       right: 10px;
       background-color: #fff;
       font-size: 30px;
       padding: 0 10px;

}

.details .red {
       color: #FF0000;
       font-size: 14px;
}

/*-----------------
       HOVER
------------------*/

/*-----------------
       FOOTER
------------------*/

footer {
       background-color: #1A1A1A;
       padding: 20px;
       color: #fff;
       line-height: 1.5;

}

footer .container {
       display: flex;
       justify-content: space-between;
       align-items: center;
}


footer .icons {
       word-spacing: 2px;
       font-size: 28px;
}

footer .icons strong {
       font-size: 18px;
       word-spacing: normal;
}

.footnav a {
       text-decoration: none;
       color: inherit;
       font-size: 14px;
       padding-right: 4px;
}